@using System.Runtime.CompilerServices
@using System.Security.Cryptography.X509Certificates
@model MoiteRecepti.Web.ViewModels.Recipe.CreateRecipeInputModel

@{
    this.ViewData["Title"] = "Add new recipe";
    var categoryItems = this.Model.Categories.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instruction"></label>
        <textarea asp-for="Instruction" class="form-control" cols="4"></textarea>
        <span asp-validation-for="Instruction" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PortionCount"></label>
        <input asp-for="PortionCount" class="form-control" />
        <span asp-validation-for="PortionCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CookingTime"></label>
        <input asp-for="CookingTime" class="form-control" />
        <span asp-validation-for="CookingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreparationTime"></label>
        <input asp-for="PreparationTime" class="form-control" />
        <span asp-validation-for="PreparationTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems">
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div id="ingredientsContainer">
        <label asp-for="Ingredients"></label>
        <a class="btn btn-success" onclick="AddMoreIngredients()">+</a>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>

@section Scripts
{
    <script>
        var index = 0;

        function AddMoreIngredients() {
            $("#ingredientsContainer").append("<div>Name: <input type='text' name='Ingredients[" + index + "].IngredientName' /> Quantity: <input type='text' name='Ingredients[" + index + "].Quantity' /> </div>");
            index++;
        }
    </script>
}
